.laptop-detail {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    margin-top: 50px;
    width: 100%;
    margin: 5%;
}

.product-image {
    width: 50%;
    text-align: center;
}

.product-overview {
    width: 50%;
    text-align: center;
}