.laptop-detail {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    margin-top: 50px;
    width: 100%;
    margin: 5%;
}

.product-image {
    width: 50%;
    text-align: center;
}

.product-overview {
    width: 50%;
    text-align: center;
}

.home-review {
    text-align: center;
    margin: 5%;
}

.home-review h2 {
    color: green;
    font-weight: bold;
    margin-bottom: 5%;
}

.more-reviews {
    text-decoration: none;
    margin: 5%;
    text-align: center;
}

.more-reviews button {
    border-radius: 10px;
    padding: 5px;
    background-color: #16efa7f2;
    font-weight: bold;
}