.laptop-detail {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    margin-top: 50px;
    width: 100%;
    margin: 5%;
}

.product-image {
    width: 50%;
    text-align: center;
}

.product-overview {
    width: 50%;
    text-align: center;
}

.home-review {
    text-align: center;
    margin: 5%;
}

.home-review h2 {
    color: #2a83bea7;
    font-weight: bold;
    margin-bottom: 5%;
}

.more-reviews {
    margin-top: 60px;
}

.more-reviews button {
    border: none;
    border-radius: 20px;
    background-color: #106ca9;
    padding: 5px 30px;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: bold;
}

.more-reviews button:hover {
    background-color: #ffa600b8;
    color: #373535;
}